# PostgreSQL
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdbname

# pgAdmin
PGADMIN_EMAIL=you@example.com
PGADMIN_PASSWORD=youradminpassword

# Port that pgAdmin will be accessible on (default: 80)
PGADMIN_PORT=80
